@{
    ViewBag.Title = "Home Page";
}

<div>
        <h1>Bienvenue sur le site de Galaxy Swiss Bourdin (GSB) !</h1>
        <p>Nous sommes une entreprise pharmaceutique qui travaille avec des professionnels de santé pour offrir les meilleurs produits à nos patients.</p>
        <p>GSB heureux de vous présenter notre nouveau service web, qui permet à nos visiteurs médicaux de présenter nos nouveaux produits aux 
    médecins généralistes. Ce service est accessible en ligne, et vous pouvez vous connecter avec un username/password unique. Les informations exposées 
    incluent simplement les nom, prénom, adresse, téléphone et spécialité médicale complémentaire des médecins généralistes.</p>
        <p>Étant fiers de travailler avec des professionnels de santé pour offrir des produits innovants et de qualité, et nous sommes convaincus
    que ce nouveau service sera un outil précieux pour notre entreprise et nos clients.</p>
    <img src="~/Src/logo.png" height="200px" style="display:block; margin:auto" />
</div>