@{
    ViewBag.Title = "Home Page";
}

<div>
        @*<h1 style="color:red">Bienvenue sur le site du GSB !</h1>*@
        
    <img src="~/Src/logo.png" height="200px" style="display:block; margin:auto" />
</div>